// Here you can add other styles
.callout {
  background-color: white;
}

h6 {
  font-weight: bold;
  color: $primary;
}

.link-controls {
  color: $gray-600;
  cursor: pointer;
}

.trash:hover {
  color: $primary;
}

.edit:hover {
  color: orange;
}

.copy:hover {
  color: $gray-900;
}

.login {
  --login-signed-out-button-background: #8f3937;
  --login-signed-out-button-hover-background: rgb(98, 98, 98);
  --login-signed-out-button-text-color: white;
  --login-popup-text-color: white;
  --login-add-account-button-background-color: #8f3937;
  --login-command-button-background-color: rgb(98, 98, 98);
  --login-command-button-text-color: white;
}

.scrollable-container {
  max-height: 70vh;
  overflow-y: auto;
}
